.entry-header {
  display: none;
}

.entry-content {
  width: 100% !important;
}

.form-busqueda {
  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
}

.form-busqueda .form-group.col-md-4 {
  padding: 0 40px;
}

.form-busqueda .form-control {
  height: inherit;
  outline: none!important;
  border-color: inherit!important;
  box-shadow: none!important;
}

.form-busqueda-part .form-group {
  margin-bottom: 30px;
}

.form-busqueda-part p {
  margin-bottom: inherit;
}

.form-busqueda-part select.form-control {
  text-transform: uppercase;
  height: 2.5em;
  padding: 0 0.5em;
  border-radius: 0;
}

.form-busqueda-part .slider {
  padding: 0;
  height: 10px;
}

.form-busqueda-part .slider-title {
  font-family: 'citroenbold', Arial, Helvetica, sans-serif;
  font-variant-caps: all-small-caps;
  font-weight: 700;
  color: #272727;
  padding-bottom: 15px;
}

.form-busqueda-part .slider-value {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.8rem;
}

.form-busqueda-part .ui-slider-handle,
.form-busqueda-part .ui-slider-range {
  background: #0088CC!important;
}

.form-busqueda-part .ui-slider-handle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
}

.form-busqueda-part .ui-slider-range {
  opacity: 0.5;
}

.form-busqueda-part.form-group.bottom-30 {
  position: relative;
  padding-bottom: 30px;
}

.form-busqueda-part.form-group.bottom-30 select{
  position: absolute;
  bottom: 0;
  width: 90%;
}

#ContenedorVehiculos .card {
  margin: 10px 0;
  font-size: 0.8rem;
}

#ContenedorVehiculos .card .col.precio {
  font-weight: bold;
}

#ContenedorVehiculos .info {
  position: fixed;
  bottom: 0;
  z-index: 900000;
}

.reset {
  background-color: #222222;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

ul.tipologias {
  list-style-type: none;
  text-align: center;
}

ul.tipologias .tipologia {
  font-size: 3rem;
  cursor: pointer;
  color: #0088CC;
  opacity: 0.5;
  display: inline-block;
  margin:0 5px;
}

ul.tipologias .tipologia:hover {
  opacity: 1;
}

ul.tipologias .tipologia.selected {
  border: 2px dotted #0088CC;
}