@font-face {
  font-family: 'girsanet-icons';
  src:  url('girsanet-icons.eot?s8jjac');
  src:  url('girsanet-icons.eot?s8jjac#iefix') format('embedded-opentype'),
    url('girsanet-icons.ttf?s8jjac') format('truetype'),
    url('girsanet-icons.woff?s8jjac') format('woff'),
    url('girsanet-icons.svg?s8jjac#girsanet-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="girsanet-icons-"], [class*=" girsanet-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.girsanet-icons-berlina:before {
  font-family: 'girsanet-icons';
  content: "\e900";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-cabrio:before {
  font-family: 'girsanet-icons';
  content: "\e901";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-compacto:before {
  font-family: 'girsanet-icons';
  content: "\e902";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-coupe:before {
  font-family: 'girsanet-icons';
  content: "\e903";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-familiar:before {
  font-family: 'girsanet-icons';
  content: "\e904";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-industrial:before {
  font-family: 'girsanet-icons';
  content: "\e905";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-monovolumen:before {
  font-family: 'girsanet-icons';
  content: "\e906";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-otros:before {
  font-family: 'girsanet-icons';
  content: "\e907";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-pick-up:before {
  font-family: 'girsanet-icons';
  content: "\e908";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-smart:before {
  font-family: 'girsanet-icons';
  content: "\e909";
  display: block;
  font-size: 3rem;
}
.girsanet-icons-todo-terreno:before {
  font-family: 'girsanet-icons';
  content: "\e90a";
  display: block;
  font-size: 3rem;
}
